<mat-toolbar class="toolbar" color="primary">
	<mat-toolbar-row>
			<div class="title">Covid 19</div>
			<span class="spacer"></span>
			<div class="search">search here</div>
			<span class="spacer"></span>
			<div class="sort">
				<mat-form-field>
					<mat-select [value]="getSortingSettings().option" (selectionChange)="onSortingChange($event.value, getSortingSettings().direction)">
						<mat-option *ngFor="let option of getSortingOptions()" value="{{ option }}">{{ option }}</mat-option>
					</mat-select>
				</mat-form-field>
				<button class="button sort-direction-button" (click)="onDirectionChange()">
					<img class="sort-direction-icon" [class.descending]="isDescending()" [src]="'assets/icons/arrow.svg'">
				</button>
			</div>
			<div class="favorite">
				<button class="button favorite-button" 
						title="{{ isFavoriteView() ? 'Show all' : 'Show favorites only' }}" 
						(click)="onFavoriteClicked()">
					<img *ngIf="!isFavoriteView()" class="favorite-icon" [src]="'assets/icons/star-filled-white.svg'">
					<img *ngIf="isFavoriteView()" class="favorite-icon" [src]="'assets/icons/star-filled.svg'">
					<span class="favorite-status-text">{{ isFavoriteView() ? 'Showing favorites only' : 'Showing all' }}</span>
				</button>
			</div>
		</mat-toolbar-row>
  </mat-toolbar>
