.toolbar {
	position: fixed;
	top: 0;
	justify-content: space-between;
	z-index: 1;

	.spacer {
		flex: 1 1 auto;
	}

	.button {
		border: none;
		outline: none;
		color: inherit;
		background: none;
		cursor: pointer;
	}

	.search {
		font-size: 18px;

		::ng-deep {
			.mat-form-field-should-float {
				#mat-form-field-label-1 {
					top: 1.7em;
				}
			}
		}
	}

	.sort {
		display: flex;
		justify-content: center;
		font-size: 18px;

		.sort-direction-button {
			margin-left: 6px;

			.sort-direction-icon {
				width: 14px;

				&.descending {
					transform: rotate(180deg);				}
			}
		}
	}

	.favorite {
		.favorite-button {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 6px;
			margin-left: 30px;

			.favorite-icon {
				width: 26px;
				padding-right: 10px;
			}

			.favorite-status-text {
				float: right;
				font-size: 18px;
			}
		}
	}
}
